<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.wanho.mapper.QcItemMapper">
	<resultMap id="QcItemMapper" type="net.wanho.pojo.QcItemBean">
		<result column="code" property="code"/>
		<result column="ITEM_TYPE" property="itemType"/>
		<result column="ITEM_SUBTYPE" property="itemSubType"/>
		<result column="ITEM_CONTENT" property="itemContent"/>
		<result column="MAX_SCORE" property="maxScore"/>
		<result column="CREATOR_CODE" property="creatorCode"/>
		<result column="CREATOR_NAME" property="creatorName"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
		<result column="REMARK" property="remark"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="PASS_SCORE" property="passScore"/>
		<result column="MIN_SCORE" property="minScore"/>
		<result column="ITEM_GROUP" property="itemGroup"/>
		<result column="SCORE_LEVELA" property="scoreLevela"/>
		<result column="DESC_LEVELA" property="descLevela"/>
		<result column="SCORE_LEVELB" property="scoreLevelb"/>
		<result column="DESC_LEVELB" property="descLevelb"/>
		<result column="SCORE_LEVELC" property="scoreLevelc"/>
		<result column="DESC_LEVELC" property="descLevelc"/>
		<result column="SCORE_LEVELD" property="scoreLeveld"/>
		<result column="DESC_LEVELD" property="descLeveld"/>
		<result column="SCORE_LEVELE" property="scoreLevele"/>
		<result column="DESC_LEVELE" property="descLevele"/>
	</resultMap>
	<resultMap id="qcTemplateItemBean" type="net.wanho.pojo.QcTemplateItemBean">
		<result column="templ_code" property="templCode" jdbcType="VARCHAR"></result>
	</resultMap>
	<insert id="saveQcItem">
		INSERT into uomp_qc_item (
			uomp_qc_item.`CODE`,
			uomp_qc_item.ITEM_TYPE,
			uomp_qc_item.ITEM_CONTENT,
			uomp_qc_item.MAX_SCORE,
			uomp_qc_item.`STATUS`,
			uomp_qc_item.REMARK,
			uomp_qc_item.PASS_SCORE,
			uomp_qc_item.MIN_SCORE,
			uomp_qc_item.ITEM_GROUP,
			uomp_qc_item.SCORE_LEVELA,
			uomp_qc_item.SCORE_LEVELB,
			uomp_qc_item.SCORE_LEVELC,
			uomp_qc_item.SCORE_LEVELD,
			uomp_qc_item.DESC_LEVELA,
			uomp_qc_item.DESC_LEVELB,
			uomp_qc_item.DESC_LEVELC,
			uomp_qc_item.DESC_LEVELD,
			uomp_qc_item.CREATOR_CODE,
			uomp_qc_item.CREATOR_NAME,
			uomp_qc_item.CREATE_DATE,
			uomp_qc_item.UPDATE_DATE)
		VALUES
			(#{code},#{itemType},#{itemContent},#{maxScore},#{status},#{remark},#{passScore},#{minScore},#{scoreLevela},#{descLevela},#{scoreLevelb},#{descLevelb},#{scoreLevelc},#{descLevelc},#{scoreLeveld},#{descLeveld},#{code},null,null,#{createDate},#{updateDate})
	</insert>
	<update id="updateQcItem">
		  update uomp_qc_item SET
			uomp_qc_item.remark=#{remark},
			uomp_qc_item.ITEM_CONTENT=#{itemContent},
			uomp_qc_item.UPDATE_DATE=null
		  where uomp_qc_item.`CODE` = #{code}
	</update>
	<update id="deleteQcItem">
		update uomp_qc_item SET
			uomp_qc_item.STATUS='0'
		where code= #{code}
	</update>

	<select id="getQcItemPageByBean" resultMap="QcItemMapper">
		select * from uomp_qc_item
		where 1=1
		<if test="itemType != null and itemType != ''">and ITEM_TYPE = #{itemType}</if>
		<if test="status != null and status != ''">and status = #{status}</if>
		<if test="itemContent != null and itemContent != ''">and ITEM_CONTENT like "%"#{itemContent}"%"</if>
		order by CREATE_DATE desc
	</select>
    <select id="getUnCheckQcItemPageByBean" parameterType="net.wanho.pojo.QcTemplateItemBean" resultMap="QcItemMapper">
		select * from uomp_qc_item
		where code not in (select item_code from uomp_qc_template_items where templ_code
		= #{templCode,jdbcType=VARCHAR})
	</select>

</mapper>